/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* COMMON */
body {
    background-color: rgba(144, 238, 144, 0.586);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* HEADER */
.header {
    height: 80px;
    line-height: 80px;
    text-align: center;
}

.header img {
    height: 100px;
    margin-top: 20px;
}

/* TODOS */
main {
    margin-top: 4rem;
}

.wrapper {
    width: 60%;
    margin: 0 auto;
    max-width: 400px;
}

h1 {
    text-align: center;
}

.new-todo {
    padding: 2rem;
    text-align: center;
    margin-top: 1rem;
    border-bottom: 1px solid blue;
}

input {
    padding: .4rem .8rem;
    border-radius: 5px;
}

.add-btn {
    padding: .4rem .8rem;
    border-radius: 5px;
    cursor: pointer;
}

.todo-list {
    list-style: none;
}

.todo-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid black;
}

.delete {
    color: red;
    font-size: 1.5rem;
    cursor: pointer;
}

.empty-list {
    padding: 1rem;
    text-align: center;
}

.error {
    color: red;
    margin-bottom: .5rem;
}

.not-done {
    text-decoration: line-through;
}